---
import { Image } from '@astrojs/image/components';
import Layout from '../../../layouts/roadtrip.astro';
---

<head>
  <style>
    :global(#scrollContainer) {
      height: 750vh;
    }
  </style>
</head>

<Layout
  title="Day 3 - New Zealand Road Trip: Motukarara to Lake Tekapo | Muhammad Farhan Abiyyullah"
  description="Day 3 of Farhan Abi's road trip in New Zealand, exploring the outdoors and scenic drives."
  image="/images/travel/NZ/day-3/lake-tekapo-1.jpg"
>
  <div class="relative h-full w-full">
    <div id="map" class="fixed w-full h-screen"></div>
    <div
      id="scrollContainer"
      class="relative h-max w-full flex flex-col py-36 md:py-48 md:flex-row"
    >
      <div
        id="story"
        class="absolute text-white min-h-max h-full w-full top-0 m-auto px-8 py-36 bg-black bg-opacity-60 text-lg z-10 md:bg-opacity-70 md:w-2/3 md:mb-0 md:py-48 lg:w-1/2 xl:px-32"
      >
        <div class="flex flex-col min-h-max">
          <h1 class="text-4xl font-bold mb-4">
            New Zealand Road Trip <br class="hidden sm:block" />- Day #3
          </h1>
          <h2 class="text-2xl my-4 space-y-2">
            Motukarara - Christchurch - Lake Tekapo (~295km)
          </h2>
          <p class="mb-4">
            We kicked off the day by driving to Diamond Harbour, Lyttelton, and
            then back to Christchurch. Today was the day I'd finally get my
            delayed baggage from Christchurch airport (hooray!). But first, we
            had to wait for the 11AM flight from Queenstown and their notice.
            So, we decided to visit the Air Force Museum of New Zealand. As a
            fan of history and planes, this World War-themed museum was right up
            my alley. The best part? It's free!
          </p>
          <figure class="mb-8 space-y-4">
            <Image
              src="/images/travel/NZ/day-3/air-force-museum-1.jpg"
              alt="Free museum"
              loading="lazy"
              width={1800}
              height={2200}
            />
            <figcaption class="text-sm">
              Fig.1 &mdash; Who can say no to a free museum?
            </figcaption>
          </figure>
          <figure class="mb-8 space-y-4">
            <Image
              src="/images/travel/NZ/day-3/air-force-museum-2.jpg"
              alt="Free museum"
              loading="lazy"
              width={1800}
              height={2200}
            />
            <figcaption class="text-sm">
              Fig.2 &mdash; Mini air-force ride for the kiddos (not sure why I
              snapped and shared this, but hey, it's cute!)
            </figcaption>
          </figure>
          <figure class="mb-8 space-y-4">
            <Image
              src="/images/travel/NZ/day-3/air-force-museum-3.jpg"
              alt="Free museum"
              loading="lazy"
              width={1800}
              height={2200}
            />
            <figcaption class="text-sm">
              Fig.3 &mdash; Behold, a real NZ air force plane
            </figcaption>
          </figure>
          <p class="mb-4">
            Post-lunch, we picked up my long-awaited baggage from Christchurch
            International Airport and hit the road towards Lake Tekapo.
          </p>
          <p class="mb-4">
            The drive was simply stunning (trust me, even though I didn't snap
            many pics). It felt like a long journey, especially after just
            exploring places "not so far" from Christchurch for the past two
            days.
          </p>
          <figure class="mb-8 space-y-4">
            <Image
              src="/images/travel/NZ/day-3/otw-lake-tekapo-1.jpg"
              alt="En route to Lake Tekapo"
              loading="lazy"
              width={1800}
              height={2200}
            />
            <figcaption class="text-sm">
              Fig.4 &mdash; En route to Lake Tekapo
            </figcaption>
          </figure>
          <h3 class="text-xl mb-4 mt-4 space-y-2">Lake Tekapo</h3>
          <p class="mb-4">
            We lucked out, arriving at Lake Tekapo during golden hour with
            gorgeous sunny weather. Summer's extended golden hours were a treat!
          </p>
          <p class="mb-4">
            Upon arrival, we strolled over to The Church of the Good Shepherd,
            nestled on Lake Tekapo's shore. This spot is known for its
            incredible views of the Milky Way at night, and I couldn't help but
            think of Wai Tsun's breathtaking wedding photo here.
          </p>
          <figure class="mb-8 space-y-4">
            <Image
              src="/images/travel/NZ/day-3/lake-tekapo-1.jpg"
              alt="The Church of the Good Shepherd"
              loading="lazy"
              width={1800}
              height={2200}
            />
            <figcaption class="text-sm">
              Fig.5 &mdash; The Church of the Good Shepherd
            </figcaption>
          </figure>
          <p class="mb-4">
            The crystal-clear water, paired with the majestic backdrop of Mt.
            Cook, made for an idyllic sunset-viewing spot.
          </p>
          <figure class="mb-8 space-y-4">
            <Image
              src="/images/travel/NZ/day-3/lake-tekapo-2.jpg"
              alt="A glimpse of Lake Tekapo"
              loading="lazy"
              width={1800}
              height={2200}
            />
            <figcaption class="text-sm">
              Fig.6 &mdash; A glimpse of Lake Tekapo
            </figcaption>
          </figure>
          <figure class="mb-8 space-y-4">
            <Image
              src="/images/travel/NZ/day-3/lake-tekapo-3.jpg"
              alt="The stunning Mt. Cook mountain range in the distance"
              loading="lazy"
              width={1800}
              height={2200}
            />
            <figcaption class="text-sm">
              Fig.7 &mdash; The stunning Southern Alps in the distance
            </figcaption>
          </figure>
          <p class="mb-4">
            After soaking in the views, we headed to the campground where I
            enjoyed my first good hot shower after a while and a plethora of
            clothing options, thanks to my reclaimed baggage!
          </p>
          <div class="flex flex-col w-full gap-y-16 py-4 md:py-16">
            <a href="/travel/NZ/day-2">
              <div class="flex flex-col items-start">
                <span class="text-2xl font-bold"
                  >Previous:<br class="block sm:hidden" /> Day #2</span
                >
                <span class="text-lg">
                  Christchurch - Springfield - Arthur's Pass Village
                </span>
              </div>
            </a>
            <a href="/travel/NZ/day-4">
              <div class="flex flex-col items-end text-right">
                <span class="text-2xl font-bold"
                  >Next:<br class="block sm:hidden" /> Day #4</span
                >
                <span class="text-lg"> Lake Tekapo - Mt. Cook - Duntroon</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- The map container -->
      <div id="map" class="w-full h-screen md:w-2/3 lg:w-1/2"></div>
    </div>
  </div>
  <script is:inline src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  ></script>
  <script is:inline src="https://d3js.org/d3.v7.min.js"></script>
  <script is:inline>
    const calculateXOffset = () => {
      const minWidthForOffset = 767;
      const largeScreenWidthOffset = 0.25;
      return window.innerWidth > minWidthForOffset ? largeScreenWidthOffset : 0;
    };

    const xOffset = calculateXOffset();

    // Set the initial map view coordinates
    const initialMapViewCoordinates = [-43.727788, 172.591849 - 2.5 * xOffset];

    // Initialize the map with custom options
    const map = L.map('map', {
      attributionControl: false,
      zoomControl: false,
    }).setView(initialMapViewCoordinates, 9);

    // Add OpenStreetMap tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution:
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      maxZoom: 9,
      className: 'map-tiles',
    }).addTo(map);

    // Replace the coordinates in the roadTripPath array with the coordinates of your road trip
    const roadTripPoints = [
      { coordinates: [-43.727788, 172.591849], name: 'Motukarara' },
      { coordinates: [-43.668251, 172.661206] },
      { coordinates: [-43.669501, 172.665038] },
      { coordinates: [-43.65651, 172.697854] },
      { coordinates: [-43.629031, 172.724862] },
      { coordinates: [-43.65651, 172.697854] },
      { coordinates: [-43.669501, 172.665038] },
      { coordinates: [-43.668251, 172.661206] },
      { coordinates: [-43.620329, 172.650118] },
      { coordinates: [-43.603275, 172.716277] },
      { coordinates: [-43.53, 172.63], name: 'Christchurch' },
      { coordinates: [-43.489396, 172.544567] },
      { coordinates: [-43.548879, 172.491333] },
      { coordinates: [-43.699569, 172.089519] },
      { coordinates: [-43.764783, 172.019532] },
      { coordinates: [-43.905431, 171.744858] },
      { coordinates: [-44.010695, 171.554354] },
      { coordinates: [-44.045234, 171.418881] },
      { coordinates: [-44.067266, 171.370018] },
      { coordinates: [-44.037419, 171.301335] },
      { coordinates: [-44.047764, 171.261488] },
      { coordinates: [-44.107184, 171.236742] },
      { coordinates: [-44.120912, 171.19312] },
      { coordinates: [-44.111611, 171.136273] },
      { coordinates: [-44.129191, 171.088944] },
      { coordinates: [-44.0845788, 170.9779755] },
      { coordinates: [-44.089324, 170.96006] },
      { coordinates: [-44.066269, 170.944886] },
      { coordinates: [-44.048624, 170.9068] },
      { coordinates: [-44.066747, 170.870099] },
      { coordinates: [-44.083153, 170.868286] },
      { coordinates: [-44.0977, 170.828912] },
      { coordinates: [-44.035533, 170.747746] },
      { coordinates: [-44.029488, 170.713856] },
      { coordinates: [-44.038308, 170.68752] },
      { coordinates: [-44.089538, 170.652014] },
      { coordinates: [-44.096278, 170.567873] },
      { coordinates: [-44.063499, 170.503983] },
      { coordinates: [-44.012256, 170.500861] },
      { coordinates: [-44.006102, 170.479534], name: 'Lake Tekapo' },
    ];

    // Extract only the coordinates for drawing the path
    const roadTripPath = roadTripPoints.map((point) => point.coordinates);

    // Create an SVG layer for the route
    const svgLayer = L.svg().addTo(map);
    const svg = d3.select(svgLayer._container);
    const line = d3
      .line()
      .curve(d3.curveCatmullRom.alpha(0.5))
      .x((d) => map.latLngToLayerPoint(d).x)
      .y((d) => map.latLngToLayerPoint(d).y);

    // Add the path to the SVG layer
    const path = svg
      .append('path')
      .datum(roadTripPath)
      .attr('d', line)
      .attr('stroke', '#DDDDDD')
      .attr('stroke-width', 5)
      .attr('stroke-linecap', 'round')
      .attr('fill', 'none');

    // Update the path as the map moves
    map.on('moveend', updatePath);
    updatePath();

    function updatePath() {
      const updatedPath = roadTripPath.map((latlng) => L.latLng(latlng));
      path.datum(updatedPath).attr('d', line);
    }

    // Draw the route as you scroll
    const scrollContainer = document.getElementById('scrollContainer');
    const zoomLevel = 9; // Set your desired zoom level here

    const carIcon = L.icon({
      iconUrl:
        'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white"><rect x="3" y="11" width="18" height="10" rx="2" ry="2"/><circle cx="7.5" cy="18.5" r="1.5"/><circle cx="16.5" cy="18.5" r="1.5"/><path d="M5.20711 9.5C5.84692 8.34171 7.1005 7.5 8.5 7.5H15.5C16.8995 7.5 18.1531 8.34171 18.7929 9.5"/></svg>',
      iconSize: [24, 24],
      iconAnchor: [12, 12],
    });

    const carMarker = L.marker(roadTripPath[0], { icon: carIcon }).addTo(map);

    let activeDot = null;
    let activePopup = null;

    // Update the scroll event listener
    window.addEventListener('scroll', () => {
      const scrollPercentage =
        window.scrollY / (scrollContainer.scrollHeight - window.innerHeight);
      const newPathLength = scrollPercentage * path.node().getTotalLength();
      path.style(
        'stroke-dasharray',
        `${newPathLength}, ${path.node().getTotalLength()}`
      );

      // Get the current point on the path based on scroll percentage
      const currentPoint = path.node().getPointAtLength(newPathLength);

      // Convert the current point to latitude and longitude coordinates
      const currentLatLng = map.layerPointToLatLng([
        currentPoint.x,
        currentPoint.y,
      ]);

      // Find the closest point to the current position
      const closestPoint = roadTripPoints
        .filter((point) => point.name)
        .reduce((prev, curr) => {
          const prevDistance = map.distance(prev.coordinates, currentLatLng);
          const currDistance = map.distance(curr.coordinates, currentLatLng);
          return currDistance < prevDistance ? curr : prev;
        });

      // Close the active popup and open the popup for the closest point
      if (activePopup) {
        activePopup.closePopup();
      }
      if (closestPoint.name) {
        activePopup = L.popup({
          closeButton: false,
        })
          .setLatLng(closestPoint.coordinates)
          .setContent(`<b>${closestPoint.name}</b>`)
          .openOn(map);

        activeDot = L.circleMarker(closestPoint.coordinates, {
          color: '#DDDDDD',
          fillColor: '#DDDDDD',
          fillOpacity: 1,
          radius: 5,
        }).addTo(map);
      }

      // Get the x coordinate of the new center
      const centerX = currentPoint.x - xOffset * window.innerWidth;

      // Convert the new center to latitude and longitude coordinates
      const centerLatLng = map.layerPointToLatLng([centerX, currentPoint.y]);

      // Set the map view with the constant zoom level
      map.setView(centerLatLng, zoomLevel, { animate: false });

      // Update the car marker position
      carMarker.setLatLng(currentLatLng);
    });
  </script>
</Layout>
